.dark_newsletter-div div, .dark_newsletter-div span, .dark_newsletter-div label{
    display:inline !important;
    width: 100%;
}

.dark_newsletter-div p a {
    display: inline !important;
    padding: 0px;
    color: #538cc3 !important;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif !important;
    font-size: 14.4px;
    margin-bottom: 0px;
}

.dark_newsletter-div {
    margin-left: 8px;
    margin-top: 50px;
    padding: 10px;
    width: 88%;
    margin-bottom: 10px;
}

.out-reference-box{
    border: 1px solid #848484;
    border-left: none;
    border-right: none;
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 80px;
}